@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,700,900&display=swap&subset=arabic');
@import "./_direction-rtl.scss";
@import "_styles.scss";


// General
p, h1, h5, h6, img, li {
    text-align: right !important;
    direction: rtl !important;
}

.page-sub-title, h5, .h5, h6, .h6 {
    letter-spacing: -0.5px;
}

*{
    font-family: 'Cairo', sans-serif;
    font-size-adjust: none !important;
    box-sizing: border-box;
}

body {
    text-align: right;
    direction: rtl;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-left: .5rem;
}

#main-menu > nav > ul > li:nth-child(2) > a {
    margin-left: 0 !important;
    margin-right: 48px;
}

.banner {
    span {
        padding-right: 0.5rem;
    }
    img {
        transform: rotate(180deg);
    }
}
.card-link-arrow {
    transform: rotate(180deg);
}

#provide .card-link {
    border-radius: 0 22px;
}

#doctors .card-link {
    border-radius: 22px 0;
}

#search-page .search-card .visit-page {
    border-radius: 0 22px;
    img {
        transform: rotate(180deg);
    }
}

#book-appointment form button img {
    transform: rotate(180deg);
}

.card-date-news {
    border-radius: 22px 0 !important;
}

.view-all-link img {
    transform: rotate(180deg);
}

#myFooter form button img {
    transform: rotate(180deg);
}

.booking-div {
    .book {
        transform: translateX(-80px);
    }
}

#pagination {
    direction: ltr;
}

// ######## about us

#about-us {
    section:nth-of-type(even) {
        .cont {
            flex-direction: row-reverse;
            @media (max-width: 1100px) {
                flex-direction: column;
            }
        }
        .card {
            transform: translate(20%, 0);

            @media(max-width: 1100px) {
                transform: translate(0, 10%);
                width: 90vw;
                height: auto;
            }
        }
  
    }

    .cont {
        display: flex;
        align-items: center;
        @media (max-width: 1100px) {
            flex-direction: column;
        }
    }
    .card {
        transform: translate(-20%, 0);
        width: 645px;
        min-height: 275px;
        height: auto;
        border-radius: 22px;
        border: 0;
        // box-shadow: $box-shadow;


        @media(max-width: 1100px) {
            transform: translate(0, 10%);
            width: 90vw;
            height: auto;
        }

        .card-title {
            @extend .h5;
            font-weight: bold;
            width: 80%;
            line-height: 1;
            @media(max-width: 586px) {
                width: 40%;

            }
        }

    }
    .img-cont {
        max-width: 90%;
        height: auto;
        margin-#{$left}: auto;
        height: 400px;
    }

    .hidden {
        width: 0;
    }
    .animate {
        animation: width-anim 2s;
        animation-fill-mode: forwards;
    }
    @keyframes width-anim {
        0% {
            width: 0;
        }
        100% {
            width: 677px;
        }
    }
}


// ######## End of about us

#careers .submit-file {
    right: 0;
}

#careers form button img {
    transform: rotate(180deg);
}

#contact-us .working-hours {
    transform: translate(-65% ,60%);
}

//########## doctors-single 

#doctors-single {
    .card .card-img {
        border-radius: 0 22px 22px 0;
    }

    .booking-div .book {
        border-radius: 0 22px 0 22px;
        transform: translateX(-80px) !important;
    } 
    .booking-div .phone {
        border-radius: 0 22px 0 22px;
    }
}

// ########## FAQs

#faqs {

    .card-body {
        border-radius: 22px 22px 0 0;
    }
    .btn {
        border-radius: 22px 0 0 22px;
    }
    .collapse-arrow {
        content: '';
        display: block;
        background: url('../img/arrow-up-small.png') no-repeat 0px 0px;
        height: 22px;  /*height of icon */
        width: 11px;  /*width of icon */
        position: absolute;
        top: -7px;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        left: 40%;
        transform: rotate(180deg);
        transition: transform 1s;
        &[aria-expanded="true"]{
            transform: rotate(0);
            top: 7px;
        }
    }
}
