@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,800,900&display=swap');

$left: left;
$right: right;

// ##### Colors #####
$main-blue: #0071BB;
$mid-blue: #187EC1;
$dark-blue: #004E82;
$darkest-blue: #094F7D;
$grey-section: #F5F5F5;
$mid-grey: #E5E5E5;
$dark-grey: #696969;
$text-grey: #676767;

.text-grey {color: #676767;}
.light-grey {color: #CECECE !important};
.main-blue { color: $main-blue; }

.para {
    color: #676767;
    line-height: 26px;
}

// ###### fonts ######
$light: 300;
$regular: 400;
$bold: 700;
$extra-bold: 800;
$black: 900;
$font-size: 0.8rem;
$font-blue: #04263C;
$text-denim: #187EC1;
$h1: 3.660vw;

.h1 {font-size: 50px !important} //50
.h2 {font-size: 43px !important} //43
.h3 {font-size: 40px !important} //40
.h4 {font-size: 33px !important} //33
.h5 {font-size: 31px !important} //31
.h6 {font-size: 27px !important} //27
.h7 {font-size: 20px !important} //20
.h8 {font-size: 13px !important} //13

.small-para {font-size: 14px; line-height: 26;}

@media (max-width: 1200px) {
    .h1 {font-size: 42px !important}
}

@media (max-width: 992px) {
    .h1 {font-size: 47px !important} //50
    .h2 {font-size: 40px !important} //43
    .h3 {font-size: 37px !important} //40
    .h4 {font-size: 30px !important} //33
    .h5 {font-size: 28px !important} //31
    .h6 {font-size: 24px !important} //27
    .h7 {font-size: 17px !important} //20
}
@media (max-width: 768px) {
    .h1 {font-size: 44px !important} //50
    .h2 {font-size: 37px !important} //43
    .h3 {font-size: 34px !important} //40
    .h4 {font-size: 27px !important} //33
    .h5 {font-size: 25px !important} //31
    .h6 {font-size: 21px !important} //27
    .h7 {font-size: 14px !important} //20
}
@media (max-width: 576px) {
    .h1 {font-size: 41px !important} //50
    .h2 {font-size: 34px !important} //43
    .h3 {font-size: 31px !important} //40
    .h4 {font-size: 24px !important} //33
    .h5 {font-size: 22px !important} //31
}

// ##### rem #####
$_22: 1.375rem;

// ##### Decoration ######
$box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
$border-radius: 22px;
$section-padding: 10% 0 10% 0;

.link {
    color: $main-blue;
    &:hover {
        color: $main-blue;
        text-decoration: none;
    }
}



*{
	font-family: 'Work Sans', sans-serif;
    font-size-adjust: none !important;
    box-sizing: border-box;
}

html, body {
    margin:0 !important;
    padding:0 !important;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

#body-wrapper {
    position: relative;
    overflow: hidden;
    // overflow-x:hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear 0s;
}


//############### General Sub pages
.grey-section { background: $grey-section;}
.grey-section-full-page {
    background: $grey-section;
    z-index: -100; 
    height: 100%;
    position: absolute; 
    width: 100vw;
}
.circle-sub {
    background: rgba(6, 7, 86, 0.17);
    height: 403px;
    width: 403px;
    border-radius: 50%;
    position: absolute;   
    #{$left}: -150px;
    top: 30px;
    overflow-x: hidden;
    z-index: -1;

    @media (max-width: 992px) {
        height: 300px;
        width: 300px;
        #{$left}: -100px;
        top: -10px;
    }

    @media (max-width: 768px) {
        height: 300px;
        width: 300px;
    }
}

.page-sub-title {
    @extend .h2;
    font-weight: $black;
    margin-bottom: 0;
    color: #0A0D67;
}

#pagination {
    text-align: $right;
    div {
        display: inline-block;
    }
    p {
        font-size: 15px;
        display: inline-block;
        &:last-of-type {
            color: #676767;
        }
    }
    .pages {
        @media (max-width: 786px) {
            display: none;
            
        }
    }
    .prev {
        cursor: pointer;
        svg {
            transform: rotate(180deg);
            width:22px; 
            height:11px;
        }
        p {
            color: #CECECE;
        }
        @media (max-width: 786px) {
            position: absolute;
            #{$left}: 0;
            
        }
    }
    .next {
        cursor: pointer;
        svg {
            width:22px; 
            height:11px;
        }
        p {
            color: $main-blue;
        }
    }
}

.alert {
    background-color: #49BF1D;
    position: fixed;
    top: 15px;
    right: 0;
    z-index: 8;
    border: none;
    border-radius:  22px 0 0 22px;
    height: auto;
    strong {
        font-size: 17px;
        color: #fff;
        margin-#{$left}: 50px;
    }
}
.alert-dismissible {
    .close {
        position: absolute;
        top: 0;
        #{$left}: 0;
        #{$right}: unset;
        padding: .75rem 1.25rem;
        color: rgba(255,255,255,1) !important;
        background: #44B51A;
        border-radius:  22px 0 0 22px;
        text-shadow: none;
        font-weight: $light;
        &:hover {
            color: rgba(255,255,255,1) !important;
        }
    }
}

.breadcrumb {
    background-color: transparent;
    font-size: 14px;
    padding: 0;
    li a {
        text-decoration: none;
        color: grey;
    }
    li:nth-child(1) a {
        color: #4A93C8;
    }
}

#about-us-hero {
    @media (max-width: 992px) {
        p {
            width: 100% !important;
        }
    }
    .banner-about {
    background: url('../img/about-us-4.jpg');
    width: 100%;
    min-height: 80vh;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .overlay-about {
        background: rgba(24,126,193,0.8);
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    } 
}




#about-us {
    section:nth-of-type(even) {
        .cont {
            flex-direction: row-reverse;
            @media (max-width: 1100px) {
                flex-direction: column;
            }
        }
        .card {
            transform: translate(-20%, 0);

            @media(max-width: 1100px) {
                transform: translate(0, 10%);
                width: 90vw;
                height: auto;
            }
        }
        .img-cont {
            margin-#{$left}: 0;
            margin-#{$right}: auto;
            height: 400px;
            width: 0;
        }

        .animate {
            animation: width-anim 2s;
            animation-fill-mode: forwards;
        }
  
    }

    .cont {
        display: flex;
        align-items: center;
        @media (max-width: 1100px) {
            flex-direction: column;
        }
    }
    .card {
        transform: translate(20%, 0);
        width: 645px;
        min-height: 275px;
        height: auto;
        border-radius: 22px;
        border: 0;
        box-shadow: $box-shadow;


        @media(max-width: 1100px) {
            transform: translate(0, 10%);
            width: 90vw;
            height: auto;
        }

        .card-title {
            @extend .h5;
            font-weight: bold;
            width: 80%;
            line-height: 1;
            @media(max-width: 586px) {
                width: 40%;

            }
        }

    }
    .img-cont {
        max-width: 90%;
        height: auto;
        margin-#{$left}: auto;
        height: 400px;
    }

    .hidden {
        width: 0;
    }
    .animate {
        animation: width-anim 2s;
        animation-fill-mode: forwards;
    }
    @keyframes width-anim {
        0% {
            width: 0;
        }
        100% {
            width: 677px;
        }
    }
}


// ####################### END OF ABOUT US

// ################ Insurance 

#insurance-logos {
    padding: 100px 0 !important;
    width: 100%;
    img {
    width: auto;
    height: auto;
    float: left;
    text-align: center;
    height: 122px;
    margin-bottom: 5%;
    padding: 0 30px;
    }
}



// ##################### End of Insurance

// News



#news-page {
    padding: 100px 0;
    .news {
        display: inline;
    }
    .view-all-link {
        text-decoration: none;
        color: $main-blue;
        float: $right;
        &:hover, &:visited {
            color: $main-blue;
        }
    }
    .card {
        border: none;
    }
    .card-img {
        border-radius: $_22;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
    }
    .card-img-overlay {
        padding: 0;
        background: -moz-linear-gradient(180deg, rgba(4,38,60,0) 0%, rgba(4,38,60,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(4,38,60,0) 0%, rgba(4,38,60,1) 100%);
        background: linear-gradient(180deg, rgba(4,38,60,0) 0%, rgba(4,38,60,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04263c",endColorstr="#04263c",GradientType=1);
        border-radius: $_22;
        display: flex;
        align-items: flex-end;
        .card-date-news {
            font-size: ($font-size - 0.1rem);
            background: $main-blue;
            min-width: 82px;
            min-height: 82px;
            padding: 15px;
            color: #fff;
            border-radius: 0 22px 0 22px;
            text-align: center;
            display: inline-block;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .card-text-overlay {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 20px;
            border-radius: 0 0 22px 22px;
        }
    }
    .owl-dots { 
        padding-top: 42px;
        // display: block !important;
    }

    .owl-theme .owl-dots .owl-dot span {
        background: #676767;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: $main-blue;
    }

    .owl-theme .owl-controls .owl-page span {
        background: none repeat scroll 0 0 #869791;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
    }
    // ###### News ########
    @media (max-width: 992px) {

        .news {
            display: block !important;
        }
        .view-all-link {
            float: $left !important;
        }
 
    }
}

#news-single {
    .h6 {
        font-size: 25px;
        color: #676767;
        @media (max-width: 992px) {
            width: 85% !important;
        }
    }
}

//############### Careers 

#careers {
    padding: 100px 0;
    .w-75 {
        @media (max-width: 992px){
            width: 100% !important;
        }
    }
    h5:first-of-type {
        width: 50%;
        @media(max-width: 992px) {
            width: 25%;
        }
    }
        input {
            width: 100%;  
            margin-bottom: 48px;
            @media (max-width: 568px) {
                width: 100%;
            }
        }
        .submit-file {
            position: absolute;
            left: 0;
            z-index: 1;
        }
        #fileToUpload {
            cursor: pointer;
            display: inline;
            position: absolute;
            left: 0;
            z-index: 2;
            opacity: 0;
            font-size: 0;
        }
        .attach {
            color: $main-blue;
            img {
                width: 24px;
                height: 24px;
            }
        }
        textarea {
            height: 116px;
            width: 100%;
        }
        button {
            border: none;
            background: $main-blue;
            color: #fff;
            padding: 10px;
            border-radius: 50px;
            min-width: 150px;
            width: 47%;
            font-size: 13px;
            position: unset;
            margin: 70px 50px 0 0;
            position: absolute;
            left: 0;
        } 
}

// ########## End of Careers

// ########## faqs

#faqs {
    padding: 100px 0;
    button {
        display: inline-block;
        margin-#{$left}: auto;
    }
    .card {
        border: 0;
    }
    .card-header {
        line-height: 60px;
        padding: 0;
        border-radius: 22px;
        border: 0;
        background: #F8F8F8;
        height: 60px;
        z-index: 2;
        p {
            display: inline-block;
            padding-#{$left}: 48px;
            font-size: 18px;
            color: $text-grey;
            width: 90%;
            line-height: 1.5;
        }
    }
    .card-body {
        background: #F8F8F8;
        border-radius: 0 0 22px 22px;
        padding-top: 40px;
        position: relative;
        bottom: 10px;
    }
    .btn {
        border-radius: 0 22px 22px 0;
        width: 54px;
        min-width: 54px;
        height: 60px;
        position: absolute;
        #{$right}: 0;
        top: 0;
        transition: border-radius 1s;
        &[aria-expanded="true"]{
            border-radius: 22px 0 22px;
        }
    }
    .collapse-arrow {
        content: '';
        display: block;
        background: url('../img/arrow-up-small.png') no-repeat 0px 0px;
        height: 22px;  /*height of icon */
        width: 11px;  /*width of icon */
        position: absolute;
        top: -7px;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        left: 40%;
        transform: rotate(180deg);
        transition: transform 1s;
        &[aria-expanded="true"]{
            transform: rotate(0);
            top: 7px;
        }
    }
}

// #################### End of FAQs

// ################### Book an appointment div
.booking-div {
    height: 71px;
    text-transform: uppercase;
    // margin-#{$left}: auto;
    // margin-top: 10%;
    @media(max-width: 768px) {
        margin-top: 20%;
        margin-bottom: 10%;
    }
    .book {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        background: $dark-blue;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        width: 35%;
        text-align: center;
        border-radius: 22px;
        transform: translateX(80px); 
        p {
            margin-bottom: 0;
        }
        @media (max-width: 768px) {
            position:absolute;
            min-height: 70px;
        }
    }
    .phone {
        display: inline-block;
        height: auto;
        padding: 10px;
        background: #7C8991;
        color: #fff;
        font-size: 14px;
        width: 35%;
        border-radius: 22px;
        padding-#{$left}: 100px;
        z-index: -1; 
        p {
            margin-bottom: 0;
        }
    }
        @media (max-width: 768px) {
            margin-#{$left}: 0 !important;
            justify-content: center !important;

            .phone {
                position:absolute;
                min-height: 140px !important;
                padding-#{$left}: auto;
                padding-top: 80px;
                transform: translateY(-70px); 
                margin-top: 70px;
                width: 95% !important;
            }
            .book {
                transform: translateX(0);
                width: 95% !important;
            }
        }
}


// ################### Promotions page
.promotions-page {
    background: none !important;
    padding: 5% 0 10% 0 !important;
    padding-top: 100px !important;
    // @media (max-width: 576px) {
    //     padding-top: 150px !important;
    //     padding-bottom: 150px !important;
    // }
}

//######################### Doctors page 
.doctors-page {
    @media (max-width: 992px) {
        padding-top: 20% !important;
    }
    @media (max-width: 578px) {
        padding-top: 30% !important;
    }
    .card-title {
        font-size: 17px;
    }
}

// ########################### Specialties page
#tabs-page {
    padding: 100px 0 100px 0;
    a {
        &:hover {
            color: $text-denim !important;
        }
    }
    .nav-tabs {
        @media (max-width: 767px) {
            display: none;
        }
        border: none;
        width: 80%;
        .nav-link{
            padding: 18px 24px 18px 24px;
            margin-#{$left}: 50px;
            border-bottom: 1px solid #E8E8E8;
            &.active {
            border: none;
            border-bottom: 1px solid #E8E8E8;
            border-radius: 0;
            }
            &.active:before {
                content: '';
                background: url('../img/Blue-arrow.png') no-repeat 0px 0px;
                height: 22px;  /*height of icon */
                width: 11px;  /*width of icon */
                position: absolute;
                height: 11px;
                width: 22px;
                left: 60px;
                margin-top: 8px;
                display: block;
                color: $text-denim;
            }
            &:hover {
                border: none;
                border-bottom: 1px solid #E8E8E8;
                color: $text-denim !important;
            }
        }
    }

    .tab-pane.active {
        z-index: -1;
        animation: slide-down 1s ease-out;
    }
    
    @keyframes slide-down {
        0% { opacity: 0;}
        100% { opacity: 1;}
    }
    
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: $text-denim;
        background: none;
    }
    .nav-tabs-dropdown {
        @media (min-width: 768px) {
            display: none;
        }
        background-color: #fff !important;
        opacity: 1;
        border: 1px solid $text-denim;
        border-radius: 22px;
        width: 80vw;

        .dropdown-menu {
            width: 100%;
            border: none;
            border-radius: 11px;
            box-shadow: $box-shadow;
        }
    }
    .tab-pane {
        position: relative;
        // height: 100%;
        img {
        position: absolute !important;
        width: 100vw;
        top: -335px;
        right: -15px;
        z-index: -3;
        @media (max-width: 992px) {
            top: -280px;
        }
        @media (max-width: 786px) {
            width: 160vw;
            top: -280px;
            left: -350px;
        }
        @media (max-width: 576px) {
            width: auto;
            height: 400px;
            top: -350px;
            left: -200px;
        }
        }
        .overlay {
                    position: absolute;
                    top: -335px;
                    right: -15px;
                    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.22) 0%, rgba(255,255,255,1) 50%);
                    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.22) 0%, rgba(255,255,255,1) 50%);
                    background: linear-gradient(180deg, rgba(255,255,255,0.22) 0%, rgba(255,255,255,1) 50%);
                    height: 850px;
                    width: 200vw;
                    z-index: -2;
                    @media (max-width: 992px) {
                        top: -280px;
                        height: 660px;
                    }
                    @media (max-width: 786px) {
                        width: 160vw;
                        height: 500px;
                        top: -280px;
                        background: -moz-linear-gradient(180deg, rgba(255,255,255,0.22) 0%, rgba(255,255,255,1) 70%);
                        background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.22) 0%, rgba(255,255,255,1) 70%);
                        background: linear-gradient(180deg, rgba(255,255,255,0.22) 0%, rgba(255,255,255,1) 70%);
                    }
                    @media (max-width: 576px) {
                        width: 160vw;
                        height: 500px;
                        top: -350px;

                    }
        }
        p {
            line-height: 2;
        }
        .h5 {
            color: #0A0D67;
            font-weight: $black;
            padding-bottom: 16px;
            text-transform: uppercase;
        }
        h6 {
            color: $text-grey;
            font-size: 17px;
            font-weight: bold;
        }
        ul {
            list-style: none;
            
            li {
                font-size: 13px;
                color: $text-grey;
                padding: 8px 0;
            }
            li::before {
            font-family: "Font Awesome 5 Free";
            content: "\F111";
            color: #187EC1;
            font-weight: bold;
            display: inline-block; 
            font-size: 7px;
            margin-#{$right}: 15px;
        }
        }
    }
}
//  ############# Specialties
#specialties {
    padding: $section-padding;
    @media(min-width: 768px) {
        .specialties-select {
            display: none;
        }
    }
    @media(max-width: 768px) {
        .specialties-nav {
            display: none;
        }
    }
    .specialties-nav {
        a:visited, a:hover {
            color: $main-blue;
        }
        a {
            text-decoration: none;
        }
    }
    .specialties-select {
        border: 1px solid #187EC1;
        border-radius: 22px;
        width: 80%;
        height: 30px;
    }
    .owl-drag {
        padding-top: 0px !important;
    }
    .col-md-4 {
        ul li {
        padding: 16px;
        padding-#{$left}: 32px;
        border-bottom: 1px solid $mid-grey;
        border-width: 30%;
        width: 70%;
        // margin-#{$left}: 10%;  
        color: #187EC1;
        cursor: pointer;
        list-style: none;
        display: block;
        }

    }
    .col-md-4 li.active:before {
        content: '';
        background: url('../img/Blue-arrow.png') no-repeat 0px 0px;
        height: 22px;  /*height of icon */
        width: 11px;  /*width of icon */
        position: absolute;
        height: 11px;
        width: 22px;
        left: 60px;
        margin-top: 10px;
        display: block;
    }
    .content {
        .h5 {
            color: #0A0D67;
            font-weight: $black;
        }
        .h6 {
            color: $dark-grey;
            font-weight: $black;
            text-transform: uppercase;
        }
        ul {
            list-style: none;
            
            li::before {
            font-family: "Font Awesome 5 Free";
            content: "\F111";
            color: #187EC1;
            font-weight: bold;
            display: inline-block; 
            font-size: 7px;
            margin-#{$right}: 15px;
        }
        }
    }
    .overlay {
        position: absolute;
        top: -335px;
        left: -50%;
        background: -moz-linear-gradient(180deg, rgba(255,255,255,0.22) 0%, rgba(255,255,255,1) 70%);
        background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.22) 0%, rgba(255,255,255,1) 70%);
        background: linear-gradient(180deg, rgba(255,255,255,0.22) 0%, rgba(255,255,255,1) 70%);
        height: 800px;
        width: 100vw;
        z-index: -2;
        @media (max-width: 992px) {
            top: -280px;
            height: 660px;
            left: 0;
        }
        @media (max-width: 786px) {
            height: 460px;
            top: -370px;
            left: 0%;
        }
        @media (max-width: 568px) {
            height: 300px;
            top: -360px;
            left: 0%;
        }
    }
    .tab-img {
        position: absolute !important;
        width: 100vw;
        top: -335px;
        left: -50%;
        z-index: -3;
        @media (max-width: 992px) {
            top: -280px;
        }
        @media (max-width: 768px) {
            top: -360px;
            left: 0%;
        }
    }

    .booking-div {
        @media(max-width: 768px) {
            margin-bottom: 30%;
        }
        .book {
            // width: 100%;
        }
        .phone {
            // width: 100%;
        }
    }
    .card {
        max-height: 456px;
        .card-img {
            object-fit: cover;
            object-position: top;
        }
    }
}
// ########### End of specialties page

// ############ Contact us page

#contact-us {
    b, p {
        font-size: 14px;
        color: $text-grey;
    }
    .h5 {
        color: #04263C;
    }
    img {
        position: absolute;
        top: -197px;
        #{$right}: 0;
        max-width: 90%;
        height: auto;
        // margin-#{$left}: auto;
        @media(max-width: 1200px) {
            float: right;
        }
    }
    .contact-info {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 350px;
        @media (max-width: 1200px) {
            justify-content: flex-start;
            align-items: flex-start;
            padding-#{$left}: 48px;
            padding-bottom: 250px;
            padding-top: 5%;
        }

    }
    .working-hours {
        position: relative;
        transform: translate(65% ,60%);
        max-width: 455px;
        height: 355px;
        background: white;
        border-radius: $_22;
        box-shadow: $box-shadow; 
        z-index: 2;
        @media (max-width: 1200px) {
            height: auto;
            width: auto;
            transform: none;
            margin: 0 20px 0 20px;
            margin-top: 100px;
            margin-bottom: 20%;
        }
        @media (max-width: 576px) {
            margin-top: -25px;
        }

}
}

// ############# End of Contace us page

// ############ Book an appointment page

#book-appointment {
.col-md-4 {
    @media (max-width: 768px) {
        order: 13;
    }
    img {
    @media (max-width: 992px) {
        width: 100%;
        height: auto;
    }
    }
}

    .w-75 {
        @media (max-width: 992px){
            width: 100% !important;
        }
    }
    h5{
        @media(max-width: 992px) {
            padding-top: 50px;
        }
    }
    input, select {
        font-size: 14px;
        width: 100%;  
        margin-bottom: 48px;
        @media (max-width: 568px) {
            width: 100%;
        }
        &::placeholder {
            color: #999;
        }
    }
    input[type=datetime-local] {
        color: #999;
        @media (max-width: 992px) {
            margin-top: 48px;
        }
    }
    select {
        border: 0;
        border-bottom: 1px solid #A2A2A2;
        padding-bottom: 14px;
        color: #999;
        -webkit-appearance: none;
        -moz-appearance: none; 
        appearance: none;
        margin-bottom: 40px;
        }

        label.wrap {
            width:100%;
            overflow: hidden; 
            height: 50px;    
            position: relative;
            display: block;
        &:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 14px;
            content: "\f078";
            color: #676767;
            position: absolute; 
            #{$right}: 0; 
            top: 18px;
            z-index: 1;
            width: 5%;
            height: 100%;  
            pointer-events: none;  
        }
    }
    textarea {
        height: 116px;
        width: 100%;
    }
    button {
        border: none;
        background: $main-blue;
        color: #fff;
        padding: 10px;
        border-radius: 50px;
        min-width: 150px;
        width: 48%;
        font-size: 13px;
        position: unset;
        margin-bottom: 100px;
} 
}



// ############ End of book an appointment page

// ############ Search page

#search-page {
    padding: 100px 0;
        .search-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: $grey-section;
        border-radius: $border-radius;
        .text-content {
            padding: 20px 20px 0 20px;
        }
        .title {
            font-size: 18px;
            font-weight: $bold;
            color: $text-grey;
        }
        .visit-page {  
            background-position: center;
            align-self: flex-end;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $main-blue;
            width: 54px;
            height: 60px;
            border-radius: 22px 0 22px 0;
        }
    }
}



// ########### End of Search page

// ############# terms & conditions / disclaimer

#text-section {
    margin-top: 100px;
    margin-bottom: 100px;
    p {
        @extend .para;
        font-size: 15px;
    }
}

// ############ End of terms & conditions / disclaimer

// ############ Doctors Single

#doctors-single {
    padding: 100px 0;
    .card {
        min-height: 650px;
        height: auto;
        width: 100%;
        border: 0;
        border-radius: $_22;
        box-shadow: $box-shadow;
        .card-img {
            width: 100%;
            height: 650px;
            min-height: auto;
            border-radius: 22px 0 0 22px;
            object-fit: cover;
            object-position: top;
            @media (max-width: 768px) {
                height: auto;
                border-radius: 22px 22px 0 0;
            }
        }
        .card-body {
            .cont {
                // margin-bottom: 50px;
                @media (max-width: 768px) {
                    margin-bottom: 150px;
                }
                @media (max-width: 578px) {
                    padding: 5% !important;
                }
            }
        }
        h6 {
            font-weight: $black;
            color: $font-blue;
            text-transform: uppercase;
            @media (max-width: 768px) {
                padding-top: 24px;
            }
        }
        .h7 {
            color: $text-denim;
        }

        ul {
            list-style: none;
            padding-#{$left}: 0px;
            li::before {
            font-family: "Font Awesome 5 Free";
            content: "\F111";
            color: #187EC1;
            font-weight: bold;
            display: inline-block; 
            font-size: 7px;
            margin-#{$right}: 15px;
        }
        }
    
        }

        
.booking-div {
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 100%;
    height: 71px;
    @media (max-width: 1200px) {
        margin-bottom: 21px;
    }
    @media(max-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
    }
    .book {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        background: $dark-blue;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        width: 50%;
        text-align: center;
        border-radius: 22px 0 22px 0;
        transform: translateX(80px); 
        z-index: 2;
        p {
            margin-bottom: 0;
        }
        @media (max-width: 768px) {
            width: 100%;
            position:absolute;
            min-height: 70px;
        }
    }
    .phone {
        display: inline-block;
        height: auto;
        padding: 10px;
        background: #7C8991;
        color: #fff;
        font-size: 14px;
        width: 50%;
        border-radius: 22px 0 22px 0;
        padding-#{$left}: 100px;
        z-index: 1;
        p {
            margin-bottom: 0;
        }
    }
        @media (max-width: 768px) {
            margin-#{$left}: 0 !important;
            justify-content: center !important;

            .phone {
                position:absolute;
                min-height: 140px !important;
                padding-#{$left}: auto;
                padding-top: 80px;
                transform: translateY(-70px); 
                margin-top: 70px;
                width: 95% !important;
                position: absolute;
                bottom: -60px;
                border-radius: 22px;
            }
            .book {
                transform: translateX(0);
                width: 95% !important;
                position: absolute;
                bottom: 80px;
                border-radius: 22px;
            }
        }
}

}


// ############ End of Doctors Single

//############### General

input:focus, textarea:focus, select:focus{
    outline: none;
}

.form {
   input {
    border: none;
    border-bottom: 1px solid #999;
    width: 90%;
    padding-bottom: 8px;
}
button {
    border: none;
    // background: none;
    position: absolute;
    #{$right}: 10%;
} 
textarea {
    border: none;
    border-bottom: 1px solid #A2A2A2;
}

::placeholder {
    font-size: 14px;
}
}
// End of General

#preloader {
    // display: none; //remove before production
    // background: #fff;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    overflow: visible;
    background: url('../img/Preloader.gif') no-repeat center center;
 }

.view-all-link:hover img {
    transform: translateX(0px);
    // transition: all 0.5s linear 0s;
    animation-name: arrow;
    animation-duration: 0.5s;
}

@keyframes arrow {
    0% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}




%overlay {
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3029586834733894) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3029586834733894) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3029586834733894) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

%card-link-br {
    font-size: ($font-size - 0.1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: $main-blue;
    color: #fff;
    border-radius: 22px 0 22px 0;
    text-align: center;
    display: inline-block;
}

%card-link-tr {
    @extend %card-link-br;
    border-radius: 0 22px 0 22px;
}

.btn {
    background: $main-blue;
    border: none;
    border-radius: 50px;
    width: 240px;
    min-width: 240px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: $main-blue;
    }
    &:hover img {
        transform: translateX(10px);
        transition: all 0.5s linear 0s;
    }
}



    
@keyframes show-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        color: #fff;
    }
}

@keyframes expand-link {
    0% {
        width: 15%;
        margin-#{$left}: 85%;
    }
    100% {
        width: 80%;
        margin-#{$left}: 20%;
    }
}


@media (max-width: 992px) {

        #provide {
            .owl-carousel {
                padding-top: 80px;
            }
        }
        #doctors {
            .owl-carousel {
                padding-top: 80px;
            }
        }
        #offers {
            .owl-carousel {
                padding-top: 80px;
            }
        }
        #news {
            .owl-carousel {
                padding-top: 50px;
            }
        }
}

@media (max-width: 992px) {
    .container, .container-fluid {
      max-width: 100%;
    }
    .container-fluid {
        padding: 15px !important;
    }
}



#maps {
    .card-link{
        font-size: ($font-size - 0.1rem);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: $main-blue;
        color: #fff;
        border-radius: 22px 0 22px 0;
        text-align: center;
        width: 15%;
        margin-#{$left}: 85%;
        height: 60px;
    }
    
    .card-link-arrow {
        position: absolute;
        right: 10%;
    }
    .card-link:hover {
        animation-name: expand-link;
        animation-fill-mode: forwards;
        animation-duration: 1.5s;
    }
    
    .card-link-text {
        opacity: 0;
    }
    
    .card-link:hover .card-link-text {
        opacity: 0;
        color: #fff;
        animation-name: show-text;
        animation-delay: .5s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }
}



    



// End of General


/* header */

.header {
    // z-index: 10000;
    display: flex;
    height: 130px;
    align-items: center;
    background: #fff;

    .dropdown {
        .dropdown-menu {
            top: 61px;
            transition: all 0.4s;
            overflow: hidden;
            transform-origin: top;
            transform: scale(1,0);
            display: block;
            background: #CECECE;
            border: none;
            border-radius: 0;
            .dropdown-title {
                display: none;
            }
        }
        &:hover {
            .dropdown-menu {
                transform: scale(1);
            }
            .dropdown-item {
                opacity: 1;
                transition-delay: 0.2s;
                color: $text-denim !important;
            }
        }
        .dropdown-item {
            font-size: 0.8rem;
            opacity: 0;
            transition: all 0.2s linear 0s;
            &:hover {
                background-color: #CECECE;
            }
        }
        
    }

    .nav-link {
        text-transform: uppercase;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .nav-link:last-of-type {
        padding-#{$right}: 0 !important;
    }
    .navbar-expand {
        justify-content: flex-end;
        font-size: $font-size;
    }
    
    .arabic {
        font-family: 'Cairo', sans-serif;
        font-size: 16px;
        color: #04263C;
        border-#{$left}: 1px solid $grey-section;
        border-#{$right}: 1px solid $grey-section;
        @media (max-width: 992px) {
            margin-top: 15px;
        }
    }
    .social-icons {
        padding-#{$left}: 12px;
    }
    form {
        .search::placeholder {
            font-size: 12px;
            color: #999;
        }
        @media (max-width: 992px) {
            margin-top: 15px;
        }
    }
    a {
        color: #000 !important;
    }
    .col-9 .row {
        justify-content: flex-end;
    }
    .input-group-text {
        background: none;
        border: none;
    }
    .form-control {
        border: none;
        background: none;
        &:focus {
            box-shadow: none;
        }
    }
    button {
        background: none;
        border: none;
        &:focus {
            outline: none;
        }
    }

    

    @media (max-width: 992px) {
        height: 60px;
        .form-inline {
            flex-flow: row nowrap !important;
        }
            .logo {
                height: (75px/2);
                width: (125px/2);
            }
            form {
                justify-content: flex-end;
                width: 60%;
            }
            .col-8 {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .arabic {
                padding-#{$right}: 0 !important;
                border-#{$right}: 0;
            }
            .hide-nav {
                display: none;
            }
              
            .search {
                transform: all 3s linear 0s;
                @media (max-width: 768px) {
                    // display: none;
                }
            }


    }
}




/* end of header */



/* main menu */

#main-menu {
    // copy
    .dropdown {
        .dropdown-menu {
            transition: all 0.4s;
            overflow: hidden;
            transform-origin: top;
            transform: scale(1,0);
            display: block;
            .dropdown-title {
                display: none;
            }
        }
        &:hover {
            .dropdown-menu {
                transform: scale(1);
            }
            .dropdown-item {
                opacity: 1;
                transition-delay: 0.2s;
            }
        }
        .dropdown-item {
            opacity: 0;
            transition: all 0.2s linear 0s;
            &:hover {
                background-color: #136092;
            }
        }
        
    }
    //end copy 

    .navbar-light {
        padding: 0;
        background: $main-blue !important;
    }
    .nav-link {
        text-transform: uppercase;
        font-weight: bold;
        color: white !important;
        font-size: $font-size;
        padding: 16px 0;
    }
    .appointment {
        padding: 16px 48px;
        background-color: $dark-blue;
    }
    .dropdown-toggle:after {
         content: none 
    }
    .dropdown-menu {
        margin: -1px 0 0 0;
        border-radius: 0;
        background-color: #136092;
        text-transform: capitalize;
        .dropdown-item {
            color: #fff !important;
            font-size: $font-size;
        }
        .dropdown-divider {
            border-top: 1px solid #094F7D;
        }
    }
}

/* End of main menu */


// ######### Res-Menu

@media (min-width:992px) {
    #res-menu {
        display: none !important;
    }
    .res-dropdown-content {
        display: none;
    }
    .dropdown-item {
        color: #000;
    }
    .dropdown-title-text {
        display: none;
    }
    .dropdown-title-text:before {
        display: none;
    }
}

@media (max-width:992px) {
    .res-dropdown-content {
        visibility: hidden;
        opacity: 0;
        background: $main-blue;
        padding: 5%;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        #{$left}: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        z-index: 51;
        transition: .7s;
        overflow: hidden;
        .res-close {
            font-weight: bold;
            color: #fff !important;
            cursor: pointer;
        }
        li {
            list-style-type: none;
            padding: 20px 20px;
            a {
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
    #res-menu .white-div ul li.nav-item a {
        margin-#{$left}: 0px !important;
    }

    #res-menu .blue-div ul li a {
        margin-#{$left}: 0px !important;
    }

    #res-menu {
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100vw;    
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 50;
    transition: .7s;
    li .nav-item .dropdown {
        position: static;
    }
    .navbar-nav .dropdown-menu {
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        border: none;
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transform: all 1s linear 0s;
        .dropdown-divider {
            display: none;
        }
        a .nav-link .ml-5 {
            margin-#{$left}: 0 !important;
        }
    }
    .close-icon {
        position: absolute;
        #{$right}: 50px;
        text-align: $right;
        cursor: pointer;
    }

    .white-div {
        background: #fff;
        ul {
            padding: 0px; 
            &:first-child {
                margin: 0 !important;
            }

         li a {
            color: #000;
            padding-#{$left}: 25px;
            &:hover {
                color: #000;
                text-decoration: none;
            }
            li {
                list-style-type: none;
            }
        }
        .dropdown-menu {
            background:  #CECECE !important;
            li a {
                color: $text-denim;
                &:hover {
                    background: #CECECE;
                }
            }
        }
        .dropdown-toggle {
            position: static;
        }
        .dropdown-menu.show {
            opacity: 1;
            visibility: visible;
            padding-left: 30px !important;
        }
        .dropdown-title-text:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f053";
            cursor: pointer;
        }
    }
    }
    .blue-div {
        background: $main-blue;
        font-weight: bold;
        ul li a {
            color: #fff;
            font-weight: bold;
            &:hover {
                color: #fff;
                text-decoration: none;
                background: none;
            }
        }
        .dropdown-menu {
            background:  $main-blue !important;
        }
        .dropdown-toggle {
            position: static;
        }
        .dropdown-menu.show {
            opacity: 1;
            visibility: visible;
            padding-left: 30px !important;
        }
        .dropdown-title-text:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f053";
            cursor: pointer;
        }
    }
    li {
        list-style-type: none;
        padding: 30px 20px  20px 30px;
    }
    a {
        text-transform: uppercase;
        font-size: $font-size;
    }
}

}


/* banner */
.banner {
    background: url('../img/main\ slide.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    h1 {
        width: 50%;
        color: $font-blue;
        font-weight: $black;
        @extend .h2;
    }
    .overlay {
        @extend %overlay;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

} 





.circle {
    background: rgba(6, 7, 86, 0.8);
    opacity: 0.8;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    #{$right}: -100px;
    top: 600px;
    overflow-x: hidden;

    @media (max-width: 992px) {
        #{$right}: -150px;
        bottom: -250px;
    }

    @media (max-width: 768px) {
        #{$right}: -200px;
        bottom: -250px;
    }
}


@media (max-width: 992px) {
}
@media (max-width: 768px) {
    .banner {
        h1 {
            width: 70%;
        }
    }
}
@media (max-width: 576px) {
    .banner {
        h1 {
            width: 90%;
        }
    }
}

/* End of Banner */

/* ##### Provide ###### */

#provide {
    .card-link{
    
        display: flex;
        justify-content: center;
        align-items: center;
        background: $main-blue;
        color: #fff;
        border-radius: 22px 0 22px 0;
        text-align: center;
        width: 54px;
        margin-#{$left}: auto;
        height: 44px;
        transition: all .5s linear 0s;
    }
    
    .card-link:hover {
        width: 250px;
    }
    
    .card-link:hover .card-link-text {
        opacity: 1;
        transition-delay: 0.4s;
    }
    
    .card-link-arrow {
        position: absolute;
        #{$right}: 3%;
    }
    
    .card-link-text {
        font-size: ($font-size - 0.1rem);
        opacity: 0;
        color: #fff;
        transition: opacity .2s linear 0s;
    }

    padding: $section-padding;
    background: $grey-section;
    a {
        color: #fff;
    }
    .card {
        border-radius: $_22;
        min-width: 100%;
        min-height: 265px;
        height: auto;
        border: none;
        box-shadow: $box-shadow;
    }
    .card-title {
        font-size: $font-size;
        font-weight: bold;
        margin-bottom: 6px;
    }
    .card-text {
        color: #676767;
        line-height: 21px;
        font-size: ($font-size - 0.1rem);
    }
    .card-img {
        margin-top: 2em;
        margin-#{$left}: 15%;
        height: 100%;
        p {
            position: absolute;
            width: 80%;
            top: 130px;
            padding-#{$left}: 100px;
        }
        
    }
    .card-body {
        padding: 0;
    }

    @media (max-width: 992px) {
            .card-img p {
                width: 50%;
            }
            .h1 {
                width: 50%;
            }
    }
    @media (max-width: 568px) {
        .card-img p {
            width: 80%;
        }
        .h1 {
            width: 50%;
        }
    }
}




@media (max-width: 768px) {
    
}

// ##### End of Provide #####

// ##### Offers #######
#doctors {
    .card-link{
    
        display: flex;
        justify-content: center;
        align-items: center;
        background: $main-blue;
        color: #fff;
        border-radius: 0 22px 0 22px;
        text-align: center;
        width: 54px;
        margin-#{$left}: auto;
        height: 44px;
        transition: all .5s linear 0s;
    }
    
    .card-link:hover {
        width: 230px;
    }
    
    .card-link:hover .card-link-text {
        opacity: 1;
        transition-delay: 0.4s;
    }
    
    .card-link-arrow {
        position: absolute;
        #{$right}: 3%;
    }
    
    .card-link-text {
        font-size: ($font-size - 0.1rem);
        opacity: 0;
        color: #fff;
        transition: opacity .2s linear 0s;
    }


    padding: $section-padding;
    .view-all-link {
        text-decoration: none;
        color: $main-blue;
        &:hover, &:visited {
            color: $main-blue;
        }
    }
    .card {
        border: none;
    }
    .card-title {
        text-align: center;
    }
    .card-text {
        text-align: center;
    }
    .card-img {
        border-radius: $_22;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
    }
    .card-img-overlay {
        padding: 0;
        // .card-link {
        //     @extend %card-link-tr;
        //     width: 25%;
        //     margin-#{$left}: 75%;
        // }
        .card-text-overlay {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            background: rgba(24, 126, 193, 0.8);
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 20px;
            border-radius: 0 0 22px 22px;
        }
    }
    .owl-dots { 
        padding-top: 42px;
        // display: block !important;
    }

    .owl-theme .owl-dots .owl-dot span {
        background: #676767;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: $main-blue;
    }

    .owl-theme .owl-controls .owl-page span {
        background: none repeat scroll 0 0 #869791;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
    }

    .circle-doctors {
        background: #F5E6E6;
        opacity: 0.5;
        height: 350px;
        width: 350px;
        border-radius: 50%;
        position: absolute;
        #{$left}: -100px !important;
        top: 2350px;
        overflow-x: hidden;
        @media (max-width: 992px) {
            #{$left}: -150px;
            bottom: -2500px;
        }

        @media (max-width: 768px) {
            #{$left}: -200px;
            bottom: -2800px;
        }
    } 
    .small, .view-all-link, .h1, .h3 {
        z-index: 1;
    }

}

.modal-body {
    padding: 0;
  }
  .modal-body .card {
    border: 0;
    border-radius: 22px;
  }
  .modal-body .card-img {
    border-radius: 22px;
  }
  .modal-body .card-text-overlay {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background: #094F7D;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 15px;
      border-radius: 0 0 22px 22px;
  }
  .modal-content {
    border: 0;
    background-color: transparent;
    -webkit-border-radius: 22px !important;
    -moz-border-radius: 22px !important;
    border-radius: 22px !important; 
  }
  .card-img-overlay {
    padding: 0;
  }
  .close-circle {
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
  }
  

#offers {
    .modal-body {
        padding: 0;
      }
      .modal-body .card {
        border: 0;
        border-radius: 22px;
      }
      .modal-body .card-img {
        border-radius: 22px;
      }
      .modal-body .card-text-overlay {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          background: #094F7D;
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 15px;
          border-radius: 0 0 22px 22px;
      }
      .modal-content {
        border: 0;
        background-color: transparent;
        -webkit-border-radius: 22px !important;
        -moz-border-radius: 22px !important;
        border-radius: 22px !important; 
      }
      .card-img-overlay {
        padding: 0;
      }
      .close-circle {
        background: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        line-height: 15px;
        text-align: center;
        position: absolute;
        right: -15px;
        top: -15px;
        cursor: pointer;
      }
      
    background: $grey-section;
    padding: $section-padding;
    .view-all-link {
        text-decoration: none;
        color: $main-blue;
        &:hover, &:visited {
            color: $main-blue;
        }
    }
    .card {
        border: none;
    }
    .card-img {
        border-radius: $_22;
        box-shadow: $box-shadow;
    }
    .card-img-overlay {
        padding: 0;
        .card-link {
            @extend %card-link-tr;
            width: 25%;
            margin-#{$left}: 75%;
        }
        .card-text-overlay {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            background: $darkest-blue;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px;
            border-radius: 0 0 22px 22px;
        }
    }
    .owl-dots { 
        padding-top: 42px;
        // display: block !important;
    }

    .owl-theme .owl-dots .owl-dot span {
        background: #676767;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: $main-blue;
    }

    .owl-theme .owl-controls .owl-page span {
        background: none repeat scroll 0 0 #869791;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
    }

}



// ###### End of Offers ###### 




#news {
    padding: $section-padding;
    .news {
        display: inline;
    }
    .view-all-link {
        text-decoration: none;
        color: $main-blue;
        float: $right;
        &:hover, &:visited {
            color: $main-blue;
        }
    }
    .card {
        border: none;
    }
    .card-img {
        border-radius: $_22;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
    }
    .card-img-overlay {
        padding: 0;
        background: -moz-linear-gradient(180deg, rgba(4,38,60,0) 0%, rgba(4,38,60,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(4,38,60,0) 0%, rgba(4,38,60,1) 100%);
        background: linear-gradient(180deg, rgba(4,38,60,0) 0%, rgba(4,38,60,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04263c",endColorstr="#04263c",GradientType=1);
        border-radius: $_22;
        display: flex;
        align-items: flex-end;
        .card-date-news {
            font-size: ($font-size - 0.1rem);
            background: $main-blue;
            min-width: 82px;
            min-height: 82px;
            padding: 15px;
            color: #fff;
            border-radius: 0 22px 0 22px;
            text-align: center;
            display: inline-block;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .card-text-overlay {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 20px;
            border-radius: 0 0 22px 22px;
        }
    }
    .owl-dots { 
        padding-top: 42px;
        // display: block !important;
    }

    .owl-theme .owl-dots .owl-dot span {
        background: #676767;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: $main-blue;
    }

    .owl-theme .owl-controls .owl-page span {
        background: none repeat scroll 0 0 #869791;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
    }
    // ###### News ########
    @media (max-width: 992px) {

        .news {
            display: block !important;
        }
        .view-all-link {
            float: $left !important;
        }
 
    }
}
// ###### End of News ########


// ####### map ##########


#map {
    position: relative;
    height: auto;
    iframe {
        height:460px;
        width: 100%;
        border: none;
        @media (max-width: 992px) {
            height: 880px;
        }
    }
}
.send-message {
    @media (max-width: 768px) {
        height: 450px;
    }

    @media (max-width: 992px) {
        top: 70px;
        bottom: auto;
        margin-#{$left}: 1.5%;
        // height: 450px;
        min-width: 90%;
        textarea {
            min-width: 90%;
        }
    }

    position: absolute;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    height: 330px;
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: 22px;

    .card-link{
        position: absolute;
        $right: 0;
        bottom: 0;
        background: $main-blue;
        color: #fff;
        border-radius: 22px 0 22px 0;
        text-align: center;
        width: 54px;
        height: 44px;
        transition: all .5s linear 0s;
    }
    
    .card-link:hover {
        width: 200px;
        // margin-#{$left}: 50%;
    }
    
    .card-link:hover .card-link-text {
        opacity: 1;
        transition-delay: 0.4s;
    }
    
    .card-link-arrow {
        position: absolute;
        bottom: 8px;
        #{$right}: 8px;
    }
    
    .card-link-text {
        font-size: ($font-size - 0.1rem);
        opacity: 0;
        color: #fff;
        transition: opacity .2s linear 0s;
    }

    textarea {
        max-width: 100%;
        width: auto;
    }


}


//  ######## End of Map ###########


// ######## Insurance ##########

#insurance {
    background: #E5E5E5;
    .owl-carousel .owl-nav button.owl-prev {
        position: absolute;
        #{$left}: -50px;
        top: 0;
        bottom: 0;
        &:hover {
            background: none;
        }
    }
    .owl-carousel .owl-nav button.owl-next {
        position: absolute;
        #{$right}: -50px;
        top: 0;
        bottom: 0;
        &:hover {
            background: none;
        }
    }
}

//  ######### End of Insurance ##########



// ######### Footer ##########


// ######### End of Footer ########


#myFooter {
    background: white;
    font-size: 13px;
    color: white;
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    padding-top: 5%;
    .container {
        // padding-bottom: 5%;
        border-bottom: 1px solid $mid-grey;
    p {
        color: $dark-grey;
        font-weight: bold;
        margin-bottom: 4px;
        text-transform: uppercase;
    }
    ul {
        display: flex;
        flex-direction: column;
        padding-#{$right}: 50px;
        margin-bottom: 50px;
    }
    li {
        margin: 8px 0 4px 0;
        color: $dark-grey;
        list-style-position: inside;
    }
    a {
        color: $dark-grey;
        text-decoration: none;
    }
    .social-icons img {
        height: 15px;
        width: auto;
    }
    }
}

.second-footer {
    .container {
        padding-top: 1%;
    }
    font-size: 12px;
    .copy-rights {
        float: $left;
    }
    .terms {
        float: $right;
    }
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}

@media (max-width: 992px) {
    #myFooter {
        .col-md-3, .col-md-4 {
            display: none;
        } 
        .info {
            text-align: $left;
        }
        .social-icons a {
            padding: 0 1rem !important;
        }
    }
    .second-footer {
        .terms {
            float: $left;
        }
    }

}



.split-list ul{
    float: left;
    margin-left: 1em;
  }
  .split-list li {
    padding-right: 2em;
    line-height: 1.5em;
  }


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

@media (max-width: 992px) {
    #main-menu {
        li:not(:last-child) {
            display: none;
        }
        li:last-child {
            padding: 0 0 !important;
            width: 50%;
            text-align: center;
        }
        li:first-child {
            text-align: center;
            display: block !important;
        }
        .appointment {
            padding: 16px 0;
        }
    }

}
